/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** general **/
div, 
h1, 
h2,
h3,
h4,
h5,
form,
p,
table,
blockquote,
ul,
li {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

input, textarea {
	font: 12px Arial, helvetica, sans-serif;
}

.page {
	width: 960px;
	margin: 0 auto;
}

img {
	border: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
} 

a:focus {
	outline: 0 solid transparent;
}

hr {
	display: none;
}

.fix {
	width: 0;
	height: 0;
	overflow: hidden;
	clear: both;
	border: 1px solid transparent;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

a.fit_link {
	display: block;
	width: 100%;
	height: 100%;
}

body {
	color: #6d6e70;
}

.main-header {
	width: 940px;
	margin: 45px auto;
}

.main-header .logo {
	width: 400px;
	float: left;
}

.main-header .logo h1 a {
}

.main-header .menu {
	width: 540px;
	margin-top: 25px;
	float: right;
	list-style: none;
}

.main-header .menu li {
	display: inline-block;
	float: right;
	padding-left: 55px;
}

.main-header .menu li a {
	color: #6d6e70;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
}

.session-box {
    position: relative;
    width: 190px;
    margin: 0 auto 25px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #989898;
}

.session-box h3 {
    text-align: center;
    font-size: 12px;  
    font-weight: normal;
    text-transform: uppercase;
}

.down-triangle {
    position: absolute;
    bottom: -5px;
    left: 90px;
    width: 0; 
    height: 0;
    border-top: 10px solid #989898;
    border-left: 6px solid transparent; 
    border-right: 6px solid transparent;
    background-color: white; 
}

.slider {
    margin-bottom: 30px;    
}

.slide {
    position: relative;
}

.slide-title {
    font-family: 'Roboto' !important;
    position: absolute;
    z-index: 600;
    top: 0;
    left: 0;
    padding: 0 20px;
    margin-top: 240px;
    margin-left: 20px;
    background: rgba(55, 64, 66, 0.9);
    color: #fff;
    font-size: 34px;  
    line-height: 1.5;
    font-weight: 900;
    text-transform: uppercase;
}

.slide-subtitle {
    font-family: 'Roboto' !important;
    position: absolute;
    z-index: 600;
    top: 0;
    left: 0;
    margin-top: 300px;
    margin-left: 20px;
    padding: 8px 15px 8px 15px;
    background: rgba(55, 64, 66, 0.9);
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}

.slide-location {
    font-size: 19px;
    font-family: 'Roboto' !important;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
}

.cont-event {
    padding-top: 50px;
}

.event {
    display: block;
	float: left;
	width: 220px;
	min-height: 300px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.event:hover {
    text-decoration: none;
}

body .event:nth-child(4n) {
    margin-right: 0;
}

.event-cont-title {
   padding: 25px 25px 0 25px;   
}

.event-title {
    color: #485457;
    font-family: 'Roboto' !important;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
}

.event-subtitle {
    color: #485457;
    font-family: 'Roboto' !important;
    font-size: 22px;
    font-weight: 100;
    line-height: 1.2;
}

.event-ribbon {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 15px 0;
    background-color: #485457;
    overflow: hidden;
    /* Rotate div */
    -webkit-backface-visibility: hidden;
    transform:rotate(-2deg);
    -ms-transform:rotate(-2deg); /* IE 9 */
    -webkit-transform:rotate(-2deg); /* Safari and Chrome */
}

.event-date {
  	position:relative;    
    width: 100%;
    margin: 20px auto;
    text-align: center;
    background: #485457;
    line-height: 1.2;
    text-transform: uppercase;   
    -webkit-box-shadow: 0 1px -1px rgba(0, 0, 0, 1);
       -moz-box-shadow: 0 1px -1px rgba(0, 0, 0, 1);
            box-shadow: 0 1px -1px rgba(0, 0, 0, 1);
}

.event-date:before, .event-date:after {
	content: "";
    position: absolute; 
    z-index: -1;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,1);
    box-shadow: 0 0 15px rgba(0,0,0,1);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 8px;
    border-radius: 100px / 8px;
} 

.event-date:after {
	right: 10px; 
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg); 
       -moz-transform: skew(8deg) rotate(3deg);     
        -ms-transform: skew(8deg) rotate(3deg);     
         -o-transform: skew(8deg) rotate(3deg); 
            transform: skew(8deg) rotate(3deg);
}

.event-date div {
	text-align: center;
 	position: relative;
	top: 0px;   
}

.event-date .event-mounth {
    font-family: 'Roboto' !important;
    font-weight: 700;
    font-size: 40px; 
    text-transform: uppercase;
    color: white;
}

.event-date .event-day {
    font-family: 'Roboto' !important;
    font-size: 35px;
    font-weight: 100;
    color: white;
}

.event-list {
    list-style-type: none;
    padding: 0 20px;
}

.event-list-title {
    font-family: 'Roboto' !important;
    font-size: 13px;
    text-transform: uppercase;
    color: #69767a;
    font-weight: 900;
}

.event-list-info {
    font-family: 'Roboto' !important;
    font-size: 14px;
    text-transform: uppercase;
    color: #747e80;
    font-weight: 100;
}

.event-decription p {
    padding: 10px 20px;
    font-family: 'Roboto' !important;
    font-size: 14px;
    color: #747e80;
    font-weight: 100; 
}

.container {
	max-width: 940px;
	margin: 40px auto;
}

.container-event {
	max-width: 960px;
	margin: 40px auto;
}

.blog-post {
	min-height: 200px;
	width: 100%;
	border: 1px solid #e1e1e1;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	margin: 0 0 50px 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}